<!DOCTYPE html>
<html>
<head>
	<title>userapi</title>
	<link rel="stylesheet" href="css/style.css" />
	<link rel="shortcut icon" type="image/png" href="img/favicon.png" />
</head>
<body>
	<div class="container">
		<%- body %>
	</div>
</body>
</html>
